body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding:0;
    background-color: #f4f4f4;
}

header {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: auto;
    z-index: 1000;
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0; 
    bottom:0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

button {
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

.dark {
    background-color: #121212;
    color: white;
}

.dark header {
    background-color: black;
}

.dark button {
    background-color: gray;
}
